# FOLDER PALING PENTING UNTUK DIABAIKAN!
# Ini adalah cache lokal Unity untuk aset Anda. Ukurannya bisa sangat besar.
# Unity akan membuatnya kembali secara otomatis saat proyek dibuka.
/[Ll]ibrary/

# Folder-folder lain yang dibuat otomatis oleh Unity.
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# File solusi & proyek IDE
# Mengabaikan file yang spesifik untuk Visual Studio, Rider, atau IDE lain.
*.sln
*.csproj
*.unityproj
.vs/
.idea/
.vscode/

# File Sistem Operasi
.DS_Store
Thumbs.db

# Build output (file APK/AAB)
# Sebaiknya tidak dimasukkan ke source control.
*.apk
*.aab

# File Crash
*.crash